/* From narrative */
.navbar-kbase {
    border-bottom: 5px solid #E0E0E0 !important;
    padding: 8px;
   /* NB the z index needs to be set higher than 2 -- may need further adjustment. Some bootstrap components,
      like button active state, are set to 2 and otherwise would ride on top */
    z-index: 3;
    height: 70px;
}



/* Top bar nav buttons
   --------------------------
*/
.kb-nav-btn {
    background-color: #FFF;
    padding: 1px 7px;
    font-size: 24px;
    border: none;
    text-shadow: none !important;
    margin: 0;
    vertical-align: middle;
    /* 
    box-shadow: 0 0 3px #CECECE;
    */
    margin-right: 5px;
}
.btn-primary.kb-nav-btn[disabled] {
  background-color: #FFF;
  color: silver;
}
#kb-nav-menu { /* don't add shadows here */
  box-shadow: none;
}
.kb-nav-btn > div {
    color: #666 !important;
}
.kb-nav-btn .kb-nav-btn-txt {
    font-size: 10pt;
    margin-top: -5px;
}
.navbar-right .fa::before { /* color nav icons */
  color: #2196F3;
}
.navbar-right .kb-nav-btn:hover {
  background-color: #F5F5F5;
}
#kb-ipy-menu { /* restore rounded corners */
  border-radius: 4px !important;
  margin-right: 0;
}
.btn-xs { /* don't use drop-shadow on profile menu */
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  moz-box-shadow: none;
  font-size: 18px;
}
.btn-xs .glyphicon-user { /* also resize user btn */
  padding: 14px 5px 14px 5px;
}

.navbar-kbase {
    webkit-box-shadow: none;
    box-shadow: none;
    moz-box-shadow: none;
}

/* Own */
.navbar-kbase .navbar-title {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 2px solid #e0e0e0;
  font-size: 120%;
  font-weight: bold;
}
.navbar-kbase .navbar-title .title {
  font-weight: bold;
  font-size: 120%;
}


#kbase-navbar .navbar-buttons {
  display: inline-block; 
  padding-right: 15px; 
  margin-right: 15px;
  border-right: 2px solid #e0e0e0;
}

/* Tweak navbar, sidebar and main content areas to fit together 
The navbar and sidebar are fixed -- so out of flow and need absolute positioning 
Although the sidebar is partially positioned with part of the navbar.
The content area is normal flow and just needs to have a matching top margin.
*/
.navbar-kbase {
 
}
.sidebar {
  top: 70px;
}

#content {
  position: relative;
  top: 70px;
  padding: 0;
}



.sidebar {
  z-index: auto;
  border-right: 5px solid #E0E0E0;
}

.main {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  z-index: auto;
  display: block;
  padding: 5px 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #f9f9f9;
  border-right: 2px solid #eee;
}

/* Try to fix grid layout 
.fullheight-container
{
    display:table;
    width: 100%;
    margin-top: -50px;
    padding-top: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fullheight-container .row
{
    height: 100%;
    display: table-row;
}
.fullheight-container .col-md-3, .fullheight-container .col-md-9 {
    float: none; 
}
.fullheight-container .col-md-3
{
    display: table-cell;
    background: pink;
    width: 25%;
}
.fullheight-container .col-md-9
{
    display: table-cell;
    background: yellow;
    width: 75%;
}
*/

.navbar-kbase .bn {
    vertical-align: middle;
}

.navbar-kbase .btn.btn-default {
  border-color: transparent;
  border-width: 0;
  border-style: none;
}

.navbar-kbase .dropdown-menu  .navbar-icon {
  display:inline-block; 
  width: 26px; 
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}
.navbar-kbase .dropdown-menu .navbar-icon .fa {
  font-size: 150%;
}
.navbar-kbase .dropdown-menu li a {
    vertical-align: middle;
}


.kb-nav {
    height: 70px;
    width: 100%;
    position: fixed;
    display: inline-block;
    line-height: 70px;
    left: 0px;
    top: 0px;
    background-color: #FFF;
    border-bottom: 5px solid #E0E0E0;
    z-index: 3;
    font-size: 0px;
    box-sizing: content-box;
}


.kb-nav-right {
    display: inline-block;
    position: absolute;
    right: 0;
}

.kb-nav-cell {
    height: 70px;
    display: inline-block;
    border: 0px red solid;
    font-size: 12px;
    vertical-align: top;
    text-justify: justify;
}

.kb-nav-cell.menu {
    margin-left: 1em;
    margin-right: 1em;
}
.kb-nav-cell.logo {
    margin-right: 1em;
}
.kb-nav-cell.title {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid #e0e0e0;
    
}
.kb-nav-cell.title .title {
    font-size: 150%;
    font-weight: bold;
}
.kb-nav-cell.buttons {
}
.kb-nav-cell.notifications {
}
.kb-nav-cell.login {
    margin-right: 1em; 
    margin-left: 1em;
}
.kb-nav-cell.login .dropdown > .btn {
    border: none;
}
/* instead of adding pull-right to the menu markup */
.kb-nav-cell.login .dropdown-menu {
    left: inherit;
    right: 0px;
}

/* Hamburger menu adjustments */
.kb-nav .dropdown-menu  .navbar-icon {
  display:inline-block; 
  width: 26px; 
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}
.kb-nav .dropdown-menu .navbar-icon .fa {
  font-size: 150%;
}
.kb-nav .dropdown-menu li a {
    vertical-align: middle;
}

/* Navbar Buttons */
.kb-nav-cell.buttons .btn.kb-nav-btn .fa::before { /* color nav icons */
  color: #2196F3;
}
.kb-nav-cell.buttons .btn.kb-nav-btn:hover {
  background-color: #F5F5F5;
}