<div class="panel panel-default panel-kbase">
    <div class="panel-heading">
        <div class="kb-row">
            <div class="-col -span-2-3" style="vertical-align: middle;">
                <div class="panel-title" style="vertical-align: middle;" data-placeholder="title">{{env.widgetTitle}}</div>
            </div><div class="-col -span-1-3" style="text-align: right;">
                <div class="btn-group" data-placeholder="buttons">
                    <button class="btn btn-link" data-target="#more-info-{{env.instanceId}}" data-toggle="collapse"><span class="glyphicon glyphicon-info-sign" style="font-size: 120%;"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div data-placeholder="alert"></div> 
        <div data-placeholder="content"></div>
    </div>
</div>