<div class="well well-kbase">
    <form autofill-fix id="xlogin-form" class="form login-form" name="login-form">
        <input type="hidden" name="nextAppURL" value="{{params.nextAppURL}}">
        <input type="hidden" name="nextURL" value="{{params.nextURL}}">
        <div class="row">
            <div class="col-sm-12">
                <legend style="text-align: center;">KBase Sign In</legend>

                <div class="form-group">
                    <input name="username" type="text" placeholder="username" class="form-control form-control-kbase" tabindex="1" >
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="password" class="form-control form-control-kbase" tabindex="2">
                </div>
                <div class="form-group">
                    <button id="signinbtn" type="submit" class="btn btn-primary btn-block btn-kbase" tabindex="3">Sign In<span data-element="loading-indicator" style="display: none;"> <i class="fa fa-spinner fa-spin"></i></span>
                    </button>
                    <div data-element="login-error" class="alert alert-danger alert-kbase" style="display:none; margin-top: 1em;"></div>
                </div>
                <div class="form-group" style="margin-top: 3em; margin-bottom: 0">
                    <a target="_blank" href="{{config.accountsite.baseUrl}}{{config.accountsite.paths.signup}}" class="btn btn-block btn-link">New to KBase? Sign Up</a>
                    <a target="_blank" href="{{config.accountsite.baseUrl}}{{config.accountsite.paths.recoverPassword}}" class="btn btn-block btn-link">Forgot your password?</a>
                    <a target="_blank" href="{{config.docsite.baseUrl}}/{{config.docsite.paths.signinHelp}}" class="btn btn-block btn-link">Help</a>
                </div>
            </div>
        </div>
    </form>
</div>