<div class="kb-nav">
    <div class="kb-nav-cell menu">
         <div data-placeholder="navbar-menu">
            <div style="display:inline-block">
                <button id="kb-nav-menu" class="btn btn-default navbar-btn kb-nav-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-navicon"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="kb-nav-menu">
                </ul>
            </div>
           
        </div>
    </div>
    <div class="kb-nav-cell logo">
        <a href="{{config.docsite.baseUrl}}">
            <img id="logo" src="/functional-site/assets/navbar/images/kbase_logo.png" width="46">
        </a>
    </div>
    <div class="kb-nav-cell title">
        <span data-placeholder="navbar-title" class="title"></span>
    </div>
    <div class="kb-nav-right">
    <div class="kb-nav-cell buttons">
        <span data-placeholder="navbar-buttons"></span>
    </div>
    <div class="kb-nav-cell notifications">
        <span data-placeholder="navbar-notifications"></span>
    </div>
    <div class="kb-nav-cell login">
        <span data-placeholder="navbar-login"></span>
    </div>
    </div>
</div>



