<div class="navbar-kbase navbar-fixed-top" id="kbase-navbar">
        <!-- main menu -->
        <div class="navbar-header navbar-menu">
            <div style="display:inline-block">
                <button id="kb-nav-menu" class="btn btn-default navbar-btn kb-nav-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-navicon"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="kb-nav-menu">
                    <li><a href="/functional-site/#/search/?q=*">Search Data</a>
                    </li>
                    <li><a href="/functional-site/#/narrativemanager/start">Narrative</a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li><a target="_blank" href="https://staging.kbase.us/about">About</a>
                    </li>
                    <li><a target="_blank" href="https://staging.kbase.us/narrative-guide">Narrative Tutorial</a>
                    </li>
                    <li><a target="_blank" href="https://staging.kbase.us/contact-us">Contact Us</a>
                    </li>
                </ul>
            </div>
            <a href="http://staging.kbase.us">
                <img id="logo" src="assets/navbar/images/kbase_logo.png" width="46">
            </a>
        </div>

        <!-- title area -->
        <div class="navbar-text navbar-title">
            <!-- views and widgets can add title content here -->
            <span class="title"></span>
        </div>

        <!-- button area -->
        <div class="navbar-right">

            <!-- views and widets can place buttons here, see kbaseNavbar.js -->
            <span class="navbar-buttons">
            </span>
            <span id="signin-button"></span>
        </div>
            
        <!-- notification widget -->
        <div class="navbar-right"></div>
            
        <!-- login widget -->
    </div>
</div>